{
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "object-curly-spacing": [2, "always"],
    "no-multiple-empty-lines": ["off"]
  }
}
