.dnt__main-root {
  display: flex;
}

.dnt__main-nav-btn {
  position: absolute;
  top: 10px;
  left: 10px;
}

/*@media (min-width: 960px) {*/
  .dnt__main-nav {
    /*width: 400px;*/
    /*flex-shrink: 0;*/
  }
/*}*/

.dnt__main-editor {
  flex-grow: 1;
  padding: calc(1vw + 10px);
  background-color: #dddddd;
}
