/*.editor {*/
    /*position: fixed;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*right: 0;*/
    /*width: auto;*/
/*}*/
#dnt-editor-toolbar {
  padding: 4.5% 13%;
}

.ql-toolbar.ql-snow {
  border: none;
}

.ql-container.ql-snow {
  border: none;
}
