.dnt__editor {
  min-height: 100vh;
  padding: 0 5%;
  /*margin-left: 402px;*/
}
#dnt__editor-toolbar {
  padding: 4.5% 13%;
}

.ql-toolbar.ql-snow {
  border: none;
}

.ql-container.ql-snow {
  border: none;
}
